body {
  background-color: #00CEB9;
}

header {
  font-size: 20px;
  margin: 20px 0;
}

.logo {
  display: flex;

}

.logo img {
  width: 460px;
  height: 120px;
}

img {
  padding: 10px;
}

input {
  width: 200px;
  height: 30px;
}

button {
  font-size: 16px;
}
