.box {
  box-sizing: border-box;
  width: 370px;
  padding: 0 30px 40px;
  text-align: justify;
}

.img-1 {
  float: left;
  margin: 10px;
}

.img-2 {
  float: right;
  margin: 10px;
}

hr {
  border: 1px solid black;
}
