.box {
  box-sizing: border-box;
  width: 370px;
  padding: 0 30px 40px;
  text-align: justify;
}

.img-1, .img-2 {
  margin: 10px;
}

.img-1 {
  float: left;
}

.img-2 {
  float: right;
}

.first-lorem, .second-lorem {
  border-bottom: 2px solid;
  padding-bottom: 20px;
}
