body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  background: #dcd6ce;
  width: 670px;
  margin: 0 auto;
  padding: 30px;
}

h2, .form-container, .intro-upload-buttons  {
  padding: 10px 0 0 0;
}

.form-container {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

h2 {
  color: #4a415e;
  font-size: 16px;
}

.personal-info-title, .contact-data-title {
  background: #948c96;
  width: 300px;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3px;
}

label {
  color: #574e67;
  font-size: 14px;
  margin-right: 5px;
}

.required {
  color: red;
}

input, select, textarea {
  border: 1px solid #a8a1a5;
  border-radius: 5px;
  box-shadow: inset 0 2px 0 0 #ddddde;
  padding: 10px;
  margin: 5px 5px 10px 0;
  box-sizing: border-box;
}

.break {
  display: block;
}

input#name {
  width: 300px;
}

.birth-gender {
  display: flex;
}

.birth, .gender {
  width: 50%;
}

.radio-buttons {
  padding: 10px;
}

input#birth {
  width: 80px;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: inset 0 2px 0 0 #ddddde;
}

div.gender {
  margin: 0 10px;
}

.brand-title {
  margin-bottom: 10px;
}

.brand-flex {
  display: flex;
}

.brand-left, .brand-right {
  width: 50%;
}

.more {
  color: #bbb6b1;
  font-size: 14px;
}

.contact-data-box > input {
  width: 300px;
}

select.select {
  width: 300px;
  -webkit-appearance: none;
}

textarea {
  height: 165px;
  width: 100%;
  box-sizing: border-box;
}

.file-upload {
  display: none;
}

input[type="button"] {
  width: 220px;
  background: #f2f2f2;
}

.terms {
  padding-top: 20px;
}

a {
  color: #574e67;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

button[type="submit"], button[type="reset"] {

  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
}

button#save {
  width: 220px;
  background: #4e4563;
  color: #e1dbd1;
  font-size: 18px;
}

button#cancel {
  width: 160px;
  background: #f2f2f2;
  color: #574e67;
  font-size: 14px;
}
