.box {
  box-sizing: border-box;
  width: 550px;
  padding: 0 30px 40px;
  margin: 30px;
  position: relative;
}

.img-1 {
  float: left;
  margin: 10px;
}

.img-2 {
  float: right;
  margin: 10px;
}

.first-lorem, .second-lorem {
    border-bottom: 2px solid;
    padding-bottom: 20px;
}

header {
  border-bottom: 2px solid;
  padding: 10px;
}


.overlay-box {
  box-sizing: border-box;
  width: 240px;
  height: 150px;
  border: 2px solid;
  border-radius: 10px;
  background: #fff;
  position: absolute;
  left: 180px;
  top: 30px;
}

.wow {
  color: red;
  margin: 10px;
}

.something {
  margin: 300px;
  border-bottom: 2px solid;
}

.overlay-box p {
  margin: 5px auto;
  padding: 15px 20px;
  position: relative;
  z-index: 10;
}

footer {
  position: absolute;
  left: 120px;
  top: 105px
}

.button-ok, .button-cancel {
  background: #AAAAAA;
  border-radius: 10px;
  padding: 5px 5px;
  margin: 5px 5px;
  text-align: center;
  display: inline-block;
}

.overlay-x-button {
  color: #fff;
  background: #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  position: absolute;
  left: 380px;
  top: 20px;
}

.wrapper {
  position: relative;
}
