.box {
  box-sizing: border-box;
  width: 550px;
  padding: 0 30px 40px;
  margin: 30px;
  position: relative;
}

p {
  border-bottom: 2px solid;
  padding-bottom: 20px;
  text-align: justify;
}

.img-1 {
  float: left;
  margin: 10px;
}

.img-2 {
  float: right;
  margin: 10px;
}

.overlay-box {
  box-sizing: border-box;
  width: 240px;
  height: 150px;
  border: 2px solid;
  border-radius: 10px;
  background: #fff;
  position: absolute;
  left: 15%;
  top: 5%;
}

span {
  color: red;
}

.something {
  margin: 300px;
}

.overlay-box p {
  margin: 5px auto;
  padding: 10px 20px;
  position: relative;
  z-index: 10;
}

.button-box {
  position: absolute;
  left: 120px;
}

.button1, .button2 {
  background: #AAAAAA;
  border-radius: 10px;
  padding: 5px 5px;
  margin: 10px 5px;
  text-align: center;
  display: inline-block;
}

.overlay-x-button {
  color: #fff;
  background: #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  position: absolute;
  left: 390px;
  top: 25px;
}
