body {
  display: flex;
  margin: 0;
  font-family: sans-serif;
  background: #f6f6f6;
  box-sizing: border-box;
  }

.wrapper {
  order: 1;
  width: 100%;
}

header {
  height: 80px;
  font-size: 12px;
  position: relative;
  border-bottom: 1px solid #ccc;
}

.first-top-nav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

nav ul li {
  list-style: none;
  display: inline;
  font-size: 12px;
  padding: 0 5px;
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
}

.bottom-nav ul li {
  border-right: 1px solid #ccc;
  font-size: 12px;
}

.bottom-left-nav ul {
  padding-left: 5px;
  margin-top: 18px;
}

form {
  display: inline;
}

input {
  -webkit-appearance: none;
  width: 200px;
  height: 25px;
  padding: 5px;
}

a {
  text-decoration: none;
  list-style-type: none;
}

.login {
  color: #777777;
}

.first-top-nav, .bottom-right-nav {
  margin-right: 10px;
}

main {
  background: #fff;
}

.content {
  height: 100%;
}

h1, h2, h4, p {
  margin: 0 10px;
  padding: 10px;
}

h1, h2 {
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  margin: 0 20px 0;
  padding: 20px 5px 5px 0;
  font-family: Georgia, Times, serif;
  font-weight: normal;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 20px
}

h3 {
  margin: 10px 20px;
}

h4, p {
  font-size: 14px;
  font-weight: normal;
}

p {
  line-height: 1.5;
}

.note {
  padding: 5px 20px;
}

.bio {
  width: 270px;
  border: 1px solid #aaa;
  margin: 15px 20px;
  float: right;
  clear: right;
  background: #f9f9f9;
}

th, td {
  text-align: left;
  font-size: 12px;
}

.content-title {
  text-align: center;
  margin: 0;
  padding-top: 5px;
  font-size: 14px;
}

figure {
  text-align: center;
  margin: 10px;
}

figcaption {
  font-size: 12px;
}

.content-list {
  border: 1px solid #aaa;
  background: #f9f9f9;
  width: 125px;
  margin: 0 20px;
  padding-bottom: ;: 10px;
  font-size: 14px;
  text-align: left;
}

ol {
  counter-reset: item;
  padding: 0 0 5px 15px;
}

ol > li {
  margin: 0 0 3px 10px;
  padding: 0 0 1px 0;
}

ol li > li:before {
  content: counters(item, ".") " "; counter-increment: item;
}

blockquote {
  font-size: 14px;
  margin: 10px 50px;
  line-height: 1.5;
}

.thumb-pic  {
  width: 225px;
  margin: 10px 20px;
  background: #f9f9f9;
  border: 1px solid #aaa;
  padding: 3px;
  float: right;
  clear: right;
}

.thumb-pic img {
  width: 222px;
  border: 1px solid #ccc;
}

.thumb-caption {
  font-size: 12px;
  margin: 0;
  padding: 5px;
}

.awards-list, .publications-list, .references-list {
  font-size: 14px;
  line-height: 1.5;
}

.references-list ol {
  margin: 0 25px 20px;
}

.quote-quote {
  padding-left: 20px;
}

footer {
  border-top: 1px solid #ccc;
}

footer ul {
  padding: 0 15px;
}

nav.footer li {
  display: inline;
  padding: 0 5px;
}

footer li, footer p {
  font-size: 10px;
  list-style-type: none;
  padding: 5px 10px;
}

.sidebar {
  order: 0;
  flex: 1 0 175px;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}

.wiki-logo {
  text-align: center;
}

aside.sidebar ul {
  margin: 5px 0;
  padding: 0 0 0 20px;
}

aside.sidebar li {
  text-decoration: none;
  list-style-type: none;
  font-size: 12px;
  line-height: 1.5;
}

aside.sidebar h4 {
  font-size: 12px;
  padding: 5px 0 5px;
  color: #565656;
}

.side-menu {
  border-bottom: 1px solid #aaaaaa;
  margin: 20px 10px 0;
}

.side-menu-interaction, .side-menu-tools, .side-menu-print, .side-menu-other {
  border-bottom: 1px solid #aaaaaa;
  margin: 0 20px 0;
}

.side-menu-languages {
  margin: 0 20px 0;
}
