body {
  display: flex;
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient (bottom, #f6f6f6 0%, #f9f9f9 50%, #ffffff 100%);
  }

.wrapper {
  order: 1;
  width: 100%;
}

header {
  height: 80px;
  font-size: 12px;
  position: relative;
  border-bottom: 1px solid blue;
}

.first-top-nav ul, .second-left-nav ul, .third-right-nav ul, footer ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.first-top-nav li, .second-left-nav li, .third-right-nav li, footer li {
  list-style-type: none;
  margin-right: 10px;
  border-right: 1px solid #aaaaaa;
}

.first-top-nav, .second-left-nav, .third-right-nav {
  position: absolute;
}

a {
  text-decoration: none;
  list-style-type: none;
}

.first-top-nav {
  right: 5px;
}

.logint {
  color: #777777;
}

.second-left-nav {
  right: 5px;
  bottom: 5px;
}

.third-right-nav {
  left: -35px;
  bottom: 5px;
}

.content {
  height: 100%;
}

h1, h2, h4, p {
  margin: 0 10px;
  padding: 10px;
}

h1, h2 {
  border-bottom: 1px solid;
  overflow: hidden;
  font-size: 20px;
  margin: 0 20px 0;
  padding: 20px 5px 5px 0;
  font-family: Georgia, Times, serif;
}

h3 {
  margin: 10px 20px;
}

h4, p {
  font-size: 14px;
}

.note {
  margin-left: 20px;
}

.bio {
  width: 270px;
  border: 1px solid;
  margin: 0 20px;
  float: right;
  clear: right;
  background: #f9f9f9;
}

th, td {
  text-align: left;
  font-size: 12px;
}

.content-title {
  text-align: center;
  margin: 0;
  padding-top: 5px;
  font-size: 14px;
}

figure {
  text-align: center;
  margin: 10px;
}

figcaption {
  font-size: 12px;
}

.content-list {
  border: 1px solid;
  width: 125px;
  margin: 0 20px;
  font-size: 14px;
  text-align: left;
}

ol, ol > li {
  margin: 0 10px;
  padding: 0 5px 0;
}

blockquote {
  font-size: 14px;
}

.quote-quote {
  padding-left: 20px;
}


footer {
  background: pink;
}

.sidebar {
  order: 0;
  flex: 1 0 175px;
  border-right: 1px solid blue;
  box-sizing: border-box;
}

.wiki-logo {
  text-align: center;
}

aside.sidebar ul {
  margin: 5px 0;
  padding: 0 0 0 20px;
}

aside.sidebar li {
  text-decoration: none;
  list-style-type: none;
  font-size: 12px;
  line-height: 1.5;
}

aside.sidebar h4 {
  font-size: 12px;
  padding: 5px 0 5px;
  color: #565656;
}

.side-menu {
  border-bottom: 1px solid #aaaaaa;
  margin: 0 10px 0;
}

.side-menu-interaction, .side-menu-tools, .side-menu-print, .side-menu-other {
  border-bottom: 1px solid #aaaaaa;
  margin: 0 20px 0;
}

.side-menu-languages {
  margin: 0 20px 0;
}
