body {
  margin: 0;
  background: #00CEB9;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

.form-container {
  border: solid 1px black;
  margin-left: 200px;
  margin-top: 50px;
  width: 400px;
  height: 400px;
  background-color: #f7f7f7;
}

h1, .input-field {
  margin-left: 130px;
}

.input-field {}

button {
   background: transparent no-repeat;
   border: none;
   cursor:pointer;
   outline: none;
}

.input-and-submit {
  padding-top: 25px;
}

.submit-button {
  background-color: #4690FB;
  margin-left: 130px;
  margin-top: 25px;
  width: 152px;
  height: 40px;
  font-family: Lato-Regular, sans-serif;
  font-size: 24px;
  color: #ffffff;
}

input {
  width: 150px;
  height: 50px;
}

.loading {
  background: url(loading_icon.gif) no-repeat center;
  background-size: contain;
  display: none;
  height: 30px;
  width: 30px;
  margin: 60px 190px;
}

p {
  margin: 70px 140px;
  text-align: center;
}

.yoda {
  padding-top: 10px;
}

input:focus::-webkit-input-placeholder {
  color:transparent;
 }
input:focus:-moz-placeholder {
  color:transparent;
   } /* FF 4-18 */
input:focus::-moz-placeholder {
  color:transparent;
  } /* FF 19+ */
input:focus:-ms-input-placeholder {
  color:transparent;
  } /* IE 10+ */
